<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <style>
    .logo-container {
      background-color: #8a2be2;
      color: #ffff;
    }

    .logo {
      font-family: 'Handlee', cursive;
      font-size: 2.5rem;
    }
  </style>
</head>
<body>
<div class="logo-container mb-3 p-3 d-flex justify-content-center ">
  <span class="logo">Sistema De Gestao-Aluno</span>
</div>
  <div class="container">
    <div class="card mt-3">
      <form th:object="${requisicaoNovoAluno}" class="card-body" action="/aluno/novo" method="post">
        <div class="form-group">
          <label for="nome">NOME</label>
          <input th:field="*{nome}" th:errorclass="is-invalid" class="form-control"
                 placeholder="Nome do aluno"/>
          <div class="invalid-feedback" th:error="*{nome}">
            Erros do nome do aluno
          </div>
        </div>

        <div class="form-group">
          <label for="sexo">SEXO</label>
          <input th:field="*{sexo}" th:errorclass="is-invalid" class="form-control"
                 placeholder="Sexo do aluno"/>
          <div class="invalid-feedback" th:error="*{sexo}">
            Erros no preechimento do sexo
          </div>
        </div>
  
        <div class="form-group">
          <label for="matricula">MATRICULA</label>
          <input th:field="*{matricula}" th:errorclass="is-invalid" class="form-control"
                 placeholder="Matricula do aluno"/>
          <div class="invalid-feedback" th:error="*{matricula}">
            Erros no preechimento da matricula
          </div>
        </div>

        <div class="form-group">
          <label for="dataNascimento">DATA NASCIMENTO</label>
          <input th:field="*{dataNascimento}"  th:errorclass="is-invalid" type="date" class="form-control"
                 placeholder="Data Nacimento"/>
          <div class="invalid-feedback" th:error="*{dataNascimento}">
            Erros no preechimento da matricula
          </div>
        </div>

        <div class="form-group">
          <label for="turma">TURMA</label>
          <input th:field="*{turma}" th:errorclass="is-invalid" class="form-control"
                 placeholder="Turma do aluno"/>
          <div class="invalid-feedback" th:error="*{turma}">
            Erros no preechimento da turma
          </div>
        </div>
        <button class="btn btn-primary" type="submit">CADASTRAR</button>
      </form>
    </div>
  </div>
  </div>
</body>
</html>